.lago__input {
    top: calc(50% - 8rem);
    transition: top 0.75s ease-in-out;

    input {
        background-color: inherit;
        color: inherit;
        border: none;
        border-bottom: 1px solid;
        padding-bottom: 10px;
        font-size: 24px;
        width: 350px;

        &::placeholder {
            color: white;
        }

        &:focus {
            outline: none;
        }
    }
}
